.container-fluid {
    /* background-image: url("../../../assets/images/bgimage.jpg"); */
    background-repeat: repeat-y;
    height: 650 px;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    /* padding: -30px; */
    margin-top: -25px;
}

.searchassociates {
    width: 100%
}

.searchCriteria {
    margin-top: 20px;
    width: 60%;
    padding: 40px;
}

.profilepicture {
    height: 100px;
    width: 100px;
    margin-left: 12%;
    margin-right: 12%;
}

.infoHeading {
    background-color: black;
    color: white;
}

.searchMechanism {
    margin-top: 30px;
    margin-left: 30%;
}

.searchAll {
    margin-left: 20%;
}

.associateDetails>div {
    margin: 20px;
}

.addAssociate {
    float: right;
}

.card-body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(8, 7, 42, 1) 75%, rgb(8, 10, 63) 100%);
    ;
    border-radius: 20%;
    text-align: center;
    color: papayawhip;
}

.emailLink {
    color: white;
    background-color: transparent;
    text-decoration: none;
}