body {
    background-image: url("../../../assets/images/background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.searchassociates {
    width: 100%
}

.searchCriteria {
    margin-top: 20px;
    width: 60%
}


/* #sect1 {  
    background-image: url("../../assets/images/background.jpg");  
    background-size: 100% ;  
    background-size: cover;  
}  */

.profilepicture {
    height: 100px;
    width: 100px;
}

.infoHeading {
    background-color: black;
    color: white;
}

.searchMechanism {
    margin-top: 30px;
    margin-left: 30%;
}

.searchAll {
    margin-left: 20%;
}

.associateDetails>div {
    margin: 20px;
}

.addAssociate {
    float: right;
}

.noteCardContainer {
    /* width: 200px; */
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    margin-top: 40px;
    /* align-items: center; */
    text-align: center;
}

.noteCard {
    width: 175px;
    align-content: center;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(3, 15, 15);
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    border-radius: 10%;
    justify-content: center;
}

.mat-card-image {
    width: 150px;
    height: 150px;
    /* align-content: center; */
    /* align-items: center; */
}

.imgContainer {
    height: auto;
    width: auto;
    text-align: center;
}